#app {
	margin: 50px auto;
	max-width: 400px;
	background: #FAFAFA;
	border: none;
	border-radius: 3px;
	box-shadow: 0 3px 9px rgba(0,0,0,0.2);
	overflow: hidden;

	form {
		background: #ff9900;
		padding: 10px;
		border-bottom: 1px solid #DDD;

		input {
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: 10px;
			background: #FFF;
			border: 1px solid #DDD;
			border-radius: 5px;
			font-size: 130%;
			outline: none;

			&:focus {
				border-color: #BBB;
			}
		}
	}

	ul {
		min-height: 100px;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: 10px;
			background: #FFF;
			border-bottom: 1px solid #EEE;

			&:nth-child(2n) {
				background: #EEF6FF;
			}
			&:last-child {
				border-bottom: none;
			}

			button {
				margin: 0 10px 0 0;
				opacity: 0.5;
			}
		}
	}
}
